body {
    background-color: #01003F;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    height:100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
}

h1{
    font-size: 40px;
    font-family: 'Fredericka the Great', cursive;
}

h2 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 32px;
    margin: 15px;
    margin-bottom: 0px;
}

main {
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
    align-items: center;
}

.flex {
    display: flex;
}

.main-holder {
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.box {
    background-color: white;
    width: 45vw;
    min-width: 625px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 8px;
    margin-bottom: 10px;

}

.line{
    background-color: white;
    height: 1px;
    width: 80vw;
    margin: 15px;
}

.line-s {
    background-color: black;
    width: 375px;
    height: 2px;
    margin: 15px;
}

.level-holder, .school-holder{
    width: 616px;
}

button {
    background-color: D9D9D9;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #5F5F5F;
    color: white;
}

.lvl-btn{
    width: 38px;
    height: 30px;
    margin: 0px 3px;
    margin-bottom: 5px;
}

.school-btn{
    height: 30px;
    width: 56px;
    margin: 0px 4px;
}

.first-btn{
    margin-left: 0px;
}

.last-btn {
    margin-right: 0px;
}

.selected-btn{
    background-color: #7D2063;
    color: white;
}

#add-custom{
    width: 160px;
    height: 30px;
    font-size: 16px;
    margin: 15px;
}

.btn-holder{
    display: flex;
    justify-content: center;
}

.center{
    justify-content: center;
}

.right {
    justify-content: right;
}

h3{
    color: #7D2063;
    font-weight: bold;
    margin-left: 5px;
}

.spell-icon{
    width: 35px;
    height: 35px;
    margin-right: 15px;
    background-color: #919191;
}

.spell-hold {
    border: #919191 solid 2px;
    margin: 10px;
}

.spell-min {
    display:flex;
    padding: 5px;
    width: 40vw;
    min-width: 570px;
    justify-content: space-between;
}

h4{
    font-weight: bold;
    font-size: 20px;
    width: 200px;
}

p {
    font-weight: bold;
    font-size: 15px;
}

.grey {
    color:#919191;
}

.plus {
    color: #7D2063;
    font-weight: bold;
    font-size: 32px;
    width: 18px;
}

.w120 {
    width: 120px;
}

.w50 {
    width: 50px;
}

.desc {
    font-weight: normal;
    font-size: 14px;
    margin: 15px 10px;
}

.remove-btn {
    background-color:transparent;
    color: #919191;
    font-weight: normal;
}

.hidden {
    display: none;
}